<!DOCTYPE html>
<html>
<script type="text/javascript">
  window.global = window;
</script>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="box">
    <div class="container">
      <input type="text" placeholder="Public key" required>
      <input type="password" placeholder="Private key" required>
      <input type="text" placeholder="Modulus" required>
    </div>

    <div class="container">
      <a href="/conversation">
        <button type="submit">
          Login
        </button>
        <router-outlet></router-outlet>
      </a>
    </div>
  </div>
</body>

</html>