<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="box">
    <div class="container">
      <input name="Name" type="text" placeholder="Name" required>
      <input name="PublicKey" type="text" placeholder="Public key" required>
      <input name="PrivateKey" type="password" placeholder="Private key" required>
      <input name="Modulus" type="text" placeholder="Modulus" required>
    </div>

    <div class="container">
      <a href="/room">
        <button type="submit" onclick=onClick()>
          Login
        </button>
        <router-outlet></router-outlet>
      </a>
    </div>
  </div>
</body>

</html>